@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-align: left;
    font-weight: 500;
    color: #ffffff;
    max-width: 1700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient( 
        270deg, rgb(4 66 217 / 75%) 35%, rgba(0 255 217 / 0.95) 100% );
}

/*  headings and logo */

h1 {
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #01012b
}

h2 {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    margin-top: -87%;
    margin-left: 2%;
    color: #ffffff;
}

#logo {
    position: absolute;
    font-family: 'Bungee', cursive, sans-serif;
    font-size: 29px;
    text-align: center;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}

/* nav links */

#menu {
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: -5.5%;
}



#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fffb00;
}

.active {
    border-bottom: 1px solid #2e0000;
}

/* Background image */

#background-image {
    height: 2000px;
    width: 106%;
    margin-top: 30%;
    margin-left: -6%;
    background: url(../images/background-image-1700px.png) no-repeat center center;
}

/* hero */

.controls{
    position: relative;
    }
    .hero-image {
        max-width: 102%;
        margin-left: -1%;
        overflow: hidden;
    }
    .image-container{
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100px;
    

      /* animates zoom in on loading page banner */
      animation-name: hero-zoom;
      animation-duration: 5s;
      animation-delay: 30ms;
      animation-fill-mode: forwards;
  }
  
  /* creates zoom in for hero image */
  @keyframes hero-zoom {
      from {
          transform: scale(1.1);
      }
  
      to {
          transform: scale(1);
      }
  }


#difficulty-container {
    position: absolute;
    font-size: 16px;
    font-family: 'Bungee', cursive, sans-serif;
    letter-spacing: 2px;
    margin-top: -468%;
    margin-left: 6%;
}

button {
    position: absolute;
    font-size: 22px;
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-weight: bold;
    line-height: 70px;
    width: 51%;
    height: 8%;
    top: 0;
    right: 48%;
    margin-top: 165%;
    margin-right: -23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-top: -387%;
    margin-left: 9.5%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 300px;
}


/* Footer */

footer {
    height: 100px;
}

#join-our-community h3 {
    text-align: center;
    margin-top: -60%;
    line-height: 200%;
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.social-networks {
    font-size: 100%;
    text-align: center;
    margin-left: -4%;
    padding: 10%;
    margin-top: 74%;

}

.social-networks li {
    -webkit-font-smoothing: antialiased;
    display: inline;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 4.5;
}

.social-networks i {
    font-size: 250%;
    padding: -50%;
    text-align: center;
    margin-top: -200%;
    margin-left: 5%;
}



/* social network icons */

.fab {
    -webkit-font-smoothing: antialiased;
    display: inline;
    letter-spacing: 20%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 2;
}


.fa-facebook {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

.fa-instagram {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

.fa-youtube {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

.fa-bug {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

/* media queries */
@media only screen and (min-width: 414px) {

    #difficulty-container {
        font-size: 19px;
        margin-top: -428%;
        margin-left: 3%;
    }

    button {
        margin-top: 147%;
        margin-right: -21%;
    }

    .grid {
        margin-top: -346%;
        margin-left: 12%;
    }

    h2 {
        margin-top: -74%;
        margin-left: 1%;
    }

    .social-networks {
        font-size: 95%;
        margin-left: -8%;
        margin-top: 60%;
    }

}

/* media queries 500px */
@media only screen and (min-width: 500px) {

    #difficulty-container {
        font-size: 22px;
        margin-top: -353%;
        margin-left: 7%;
    }

    button {
        margin-top: 128%;
        margin-right: -22%;
    }

    .grid {
        margin-top: -289%;
        margin-left: 18%;
    }

    h2 {
        margin-top: -63%;
        margin-left: -1%;
    }

    .social-networks {
        font-size: 95%;
        margin-left: -8%;
        margin-top: 56%;
    }

}



