@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-align: left;
    font-weight: 500;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    color: #ffffff;
    background-color: tomato;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*  headings and logo */



h1 {
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff
}

h2 {
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff
}

/* nav links */

#menu {
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: -5.5%;
}

#menu,
#logo {
    line-height: 100px;
    margin-left: 2%;
}

#logo {
    font-size: 12px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #fffb00;
}

.active {
    border-bottom: 1px solid #2e0000;
}


/* Background image */

#background-image {
    height: 4000px;
    width: 100%;
    margin-top: -18%;
    background: url(../images/background.png) no-repeat center center;
}

#background-footer {
    height: 1500px;
    width: 100%;
    margin-top: -64%;
    background-color: #110e22;
}

/* hero image */


.controls{
    position: relative;
    }
    .hero-image {
      max-width: 100%;
      min-width: none;
      overflow: hidden;
    }
    .image-container{
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100px;
    

      /* animates zoom in on loading page banner */
      animation-name: hero-zoom;
      animation-duration: 5s;
      animation-delay: 30ms;
      animation-fill-mode: forwards;
  }
  
  /* creates zoom in for hero image */
  @keyframes hero-zoom {
      from {
          transform: scale(1.1);
      }
  
      to {
          transform: scale(1);
      }
  }
  

/* Footer */

footer {
    height: 100px;
}

#join-our-community h2 {
    text-align: center;
    margin-top: -13%;
    margin-bottom: 0px%;
    margin-left: 0px;
    line-height: 200%;
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.social-networks {
    font-size: 150%;
    text-align: center;
    margin-left: 0;
    padding: 10%;
    margin-top: -26%;

}

.social-networks li {
    -webkit-font-smoothing: antialiased;
    display: inline;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 4.5;
}

.social-networks i {
    font-size: 250%;
    padding: -50%;
    text-align: center;
    margin-top: 33%;
    margin-left: 5%;
}



/* social network icons */

.fab {
    -webkit-font-smoothing: antialiased;
    display: inline;
    letter-spacing: 20%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 2;
}


.fa-facebook {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

.fa-instagram {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

.fa-youtube {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

.fa-bug {
    text-align: center;
    text-decoration: none;
    color: #110e22;
}

/* Add bar at top nav */

#nav-bar {
    height: 100px;
    width: 100%;
    color: #fffb00;
}

/* Add grid styling */

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 400px;
}

